        <!------ Cabeçalho com o nome da empresa e botão de login ---------->
        <section class="pt-5 pb-5 bg-dark inner-header">
            <div class="d-flex flex-row-reverse" style="margin-right: 25px;">
                <button type="button" class="btn btn-secondary">Cadastrar</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 15px;">Login</button>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="mt-0 mb-3 text-white">Nome da Empresa</h1>
                    </div>
                </div>
            </div>
        </section>

        <!------ Lista de categorias ---------->
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Roupas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Artesanato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Papelaria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Eletrônicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Decoração</a>
              </li>
        </ul>
        
        <!------ Campo para pesquisa ---------->
        <form class="form-inline my-2 my-lg-0  justify-content-center" >
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>

        <!--Section: Block Content-->
        <section class="mb-5" style="margin-top: 25px;">

            <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
        
                <div id="mdb-lightbox-ui"></div>
        
                <div class="mdb-lightbox">
        
                <div class="row product-gallery mx-1">
        
                    <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img">
                        <a href="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                        data-size="710x823">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                            class="img-fluid z-depth-1">
                        </a>
                    </div>
                    <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                        <div class="view overlay rounded z-depth-1 gallery-item">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12a.jpg"
                            class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        </div>
                        <div class="col-3">
                        <div class="view overlay rounded z-depth-1 gallery-item">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/13a.jpg"
                            class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        </div>
                        <div class="col-3">
                        <div class="view overlay rounded z-depth-1 gallery-item">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/14a.jpg"
                            class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        </div>
                        <div class="col-3">
                        <div class="view overlay rounded z-depth-1 gallery-item">
                            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/15a.jpg"
                            class="img-fluid">
                            <div class="mask rgba-white-slight"></div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
        
                </div>
        
            </div>

            <div class="col-md-6">
                <h5>Camisa</h5>
                <p class="mb-2 text-muted text-uppercase small">Camisa</p>
                <p><span class="mr-1"><strong>R$199.99</strong></span></p>
                <p class="pt-1">Relógio em alumínio preto.</p>
                <hr>
                <div class="table-responsive mb-2">
                <table class="table table-sm table-borderless">
                    <tbody>
                    <tr>
                        <td class="pl-0 pb-0 w-25">Quantity</td>
                    </tr>
                    <tr>
                        <td class="pl-0">
                        <div class="def-number-input number-input safari_only mb-0">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            class="minus"></button>
                            <input class="quantity" min="0" name="quantity" value="1" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="plus"></button>
                        </div>
                </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
                <a type="button" class="btn btn-primary btn-md mr-1 mb-2" href="carrinho.html">Comprar</a>
                <a type="a" class="btn btn-light btn-md mr-1 mb-2" href="carrinho.html"><i
                    class="fas fa-shopping-cart pr-2"></i>Adicionar ao carrinho</a>
            </div>
            </div>
        
        </section>
        <!--Section: Block Content-->

