        <!------ Cabeçalho com o nome da empresa e botão de login ---------->
        <section class="pt-5 pb-5 bg-dark inner-header">
            <div class="d-flex flex-row-reverse" style="margin-right: 25px;">
                <button type="button" class="btn btn-secondary">Cadastrar</button>
                <button type="button" class="btn btn-secondary" style="margin-right: 15px;">Login</button>
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class="mt-0 mb-3 text-white">Nome da Empresa</h1>
                    </div>
                </div>
            </div>
        </section>

        <!------ Lista de categorias ---------->
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#">Roupas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Artesanato</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Papelaria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Eletrônicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Decoração</a>
              </li>
        </ul>
        
        <!------ Campo para pesquisa ---------->
        <form class="form-inline my-2 my-lg-0  justify-content-center" >
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>

        <!------ Cards de exposição dos produtos da empressas ---------->
        <div class="container mb-4">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <!--<h3 class="text-warning">SALE 50% OFF</h3> -->
                            <a href="#">
                                <img class="card-img-top" src="https://images.pexels.com/photos/2078268/pexels-photo-2078268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                            </a>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a class="text-reset" href="detalhes.html"><h3 class="card-title display-4">Relógio aluminio preto</h3></a>
                            <h6>R$199.99 <del class="text-muted ml-2">R$399.99</del></h6>
                            <a class="btn btn-dark my-2" href="carrinho.html" role="button">Adicionar no carrinho</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <!--<h3 class="text-warning">SALE 50% OFF</h3> -->
                            <a href="#">
                                <img class="card-img-top" src="https://images.pexels.com/photos/2078268/pexels-photo-2078268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                            </a>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a class="text-reset" href="detalhes.html"><h3 class="card-title display-4">Relógio aluminio preto</h3></a>
                            <h6>R$199.99 <del class="text-muted ml-2">R$399.99</del></h6>
                            <a class="btn btn-dark my-2" href="carrinho.html" role="button">Adicionar no carrinho</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 mt-4">
                    <div class="card shadow">
                        <div class="card-body text-center">
                            <!--<h3 class="text-warning">SALE 50% OFF</h3> -->
                            <a href="#">
                                <img class="card-img-top" src="https://images.pexels.com/photos/2078268/pexels-photo-2078268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                            </a>
                            <div class="text-warning">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                            <a class="text-reset" href="detalhes.html"><h3 class="card-title display-4">Relógio aluminio preto</h3></a>
                            <h6>R$199.99 <del class="text-muted ml-2">R$399.99</del></h6>
                            <a class="btn btn-dark my-2" href="carrinho.html" role="button">Adicionar no carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
